@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body {
  font: 15pt arial normal, normal;
  background-color: rgb(29, 28, 29);
}

.topnav {
  background-color: #6A26CD;
  overflow: hidden;
  border-radius: 2px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav p {

  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #432586;
  color: white;
}

main {
  color: #f2f2f2;
  font-size: 20px;
}